# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
.venv/

# Ignore Mac system files
.DS_Store

# Ignore environment variables
.env

variant-annotation-pipeline/data/input/